<div class="popup">
 <h3>Adat megtekintése</h3>
  <h4>Státusz</h4>
  <h5>{{form.status}}</h5>
  <h4>Kód</h4>
  <h5>{{form.code}}</h5>
  <h4>Severity</h4>
  <h5>{{form.severity}}</h5>
  <h4>Patient</h4>
  <h5>{{form.patient}}</h5>
  <h4>Author</h4>
  <h5>{{form.author}}</h5>
  <h4>Implicated</h4>
  <h5>{{form.implicated}}</h5>
  <h4>Evidence</h4>
  <h5>{{form.evidence}}</h5>
  <h4>Detail</h4>
  <h5>{{form.detail}}</h5>
  <h4>Reference</h4>
  <h5>{{form.reference}}</h5>
</div> 

  <div style="display: flex; justify-content: flex-end;">
    <button (click)="dialogRef.close()" class="button">MÉGSEM</button>
  </div>
