mat-slider {
    width: 300px;
  }

.popup {
    min-width: 60vw;
}

.button {
    padding: 12px 26px;
    border-radius: 5px;
    background-color: #424242;
    color: white;
    border: none;
    margin-left: 5px;
    cursor: pointer;
  
    &:hover {
      background-color: #525758;
    }
  }